{
  "debug": true, 
  "auto_format_on_save": true,
  "singleQuote": true,
  "printWidth": 140,
  "trailingComma": "none",
  "bracketSpacing": true,
  "semi": false,
  "useTabs": false,
  "jsxBracketSameLine": false
}
