.small-categories-section {
	// background-color: #50c3c2;
	border: 3px solid #50c3c2;
	border-radius: 20px;
	& .small-categories-section-buttons {
		padding-top: 10px;

		display: flex;
		height: 50px;
		flex: 1;
		justify-content: center;
		align-items: center;
	}

	& .small-categories-section-links {
		border-radius: 10px;
		background-color: rgba(0, 0, 0, 0.1);
		display: flex;
		flex: 1;
		height: 100%;
		align-items: center;
		justify-content: center;
		color: #fff;
		text-transform: uppercase;
	}

	& .small-categories {
		max-width: 100%;
		width: 100%;
		max-height: 460px;
		overflow-x: scroll;
		// border-bottom: 1px solid rgba(0, 0, 0, 0.4);
		// border-top: 1px solid rgba(0, 0, 0, 0.4);

		&::-webkit-scrollbar {
			width: 0px;
		}

		& .small-categories-section-link-container {
			position: relative;
			// background-color: red;
			width: 170px;
			background-size: contain;
			min-width: 170px;
			border-radius: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			cursor: pointer;
			transition: transform 1s;
			transform: scale(1);
			height: 200px;
			min-height: 200px;
			border: 3px solid #50c3c2;
			margin: 10px;
			box-sizing: border-box;
			&:hover {
				transition: transform 1s;
				transform: scale(1.1);
				// position: absolute;
				z-index: 10000;
			}
		}
	}
}
