@import 'src/assets/styles/_colors.scss';

.toast-container {
	position: fixed;
	z-index: 10002;
	top: 100px;
	right: 0;
	& .toast-body {
		word-break: break-word;

		text-align: center;
		color: rgba(255, 255, 255, 0.6);
		font-size: 20px;
		background: $base_green;
	}
}
